html, body {
  height: 100%;
  margin: 0;
}

#map {
  height: 100vh;
  width: 100%;
  background: white; /* ensures a white background */
}

/* Tooltip styles */
.leaflet-tooltip {
  background: transparent;
  border: none;
  box-shadow: none;
  font-size: 10px;
  font-weight: normal;
  pointer-events: none;
}

.label-no-playlist {
  color: transparent;
}


/* Canada + has playlist */
.label-has-playlist-canada {
  color: red;
  font-weight: bold;
}

/* USA + has playlist */
.label-has-playlist-usa {
  color: darkblue;
  font-weight: bold;
}